.footer {
  background: var(--c-dark2);
  padding-bottom: 55rem;

  &__row {
    display: flex;
    max-width: calc(1140rem + 40rem);
    width: 100%;
    padding: 0 20rem;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 55rem;

    @include tablet {
      padding-top: 55rem;
      gap: 20rem;
      flex-direction: column-reverse;
    }
  }

  &__row-name {
    color: var(--c-white);
    font-size: 16rem;
    font-weight: 400;
    span {
      color: var(--c-primary);
      font-size: 16rem;
    }
    @include tablet {
      font-size: 12rem;
      span {
        font-size: 12rem;
      }
    }
  }

  &__row-icons {
    display: flex;
    gap: 34rem;
    @include tablet {
      gap: 20rem;
    }
  }

  &__row-a {
    color: var(--c-white);
    font-size: 16rem;
    font-weight: 400;
    transition: var(--transition);
    @include tablet {
      font-size: 14rem;
    }
  }

  &__row-a:hover {
    color: var(--c-primary);
  }
}
